In [1]:
import pandas as pd
import os
from icecream import ic
import numpy as np
import math
import ast
import itertools

In [ ]:
# df = pd.read_csv("")



# len(dir_list_test)
# dir_list_test

In [ ]:
# def wc():

seeds = [42, 26092020, 24032022]    
path_test = str(os.getcwd()) + "/result/seed" + str(42) + "/" + "test" + "/"
dir_list_test = [f for f in os.listdir(path_test)]

word_candidates = []
for seed in seeds:
    for f in dir_list_test:
        df = pd.read_csv(os.getcwd() + r'/result/seed'+str(seed)+"/test/"+str(f))


        for el in df['translated_word(s)'].dropna().values:
            el = ast.literal_eval(el)
            word_candidates.append([(k, v) for k, v in el.items()])

merged = list(itertools.chain(*word_candidates))
len(merged)

In [ ]:
filename = "word_candidates.txt"
with open(filename, 'w', encoding="utf-8") as f:
    print(merged, file=f)

In [ ]:

def file_reader(path):
    a_file = open(path, "r")

    vocab = []
    for line in a_file:
        stripped_line = line.strip()
        vocab.append(stripped_line)

    a_file.close()
    return list(set(vocab))

# for lst in file_reader(filename):
#     lst = ast.literal_eval(lst)
        
#     # print(lst)
#     for a in lst:
#         print(a)

In [ ]:
df = pd.DataFrame(merged, columns=['word', 'translated'])
df

In [ ]:
df.to_csv("word_candidates.csv", index=False)

In [2]:
df = pd.read_csv("word_candidates.csv")
df.sample(20)

               word        translated
34436    bermasalah        bermasalah
1194270      ongkos            ongkos
1464729        kode              kode
924543      yusmada           yusmada
304306         suka              suka
522934         anak            lanang
863112      tagihan  laporan keuangan
1012656        arah              arah
1044558      respon            respon
1806830       asian             asian
1232944      jokowi            jokowi
24664      nanganin          nanganin
1021190        tapi            tetapi
515106        tidur             tidur
91783        banget            banget
1650732         Gak               Gak
564091         suka             Comme
369798    jamaahnya         jamaahnya
1849297        suka         mengadili
1801682      bohong            mentir

In [14]:
# n=100
df_top_hundred = df['word'].value_counts()[:100].to_frame()
df_top_hundred.columns = ['count']
df_top_hundred.index.names = ['word']
df_top_hundred.to_csv("top_hundred.csv")

In [16]:
# df_top_hundred
df_top_hundred.to_csv("top_hundred.csv")